<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="runInParallel" value="true" />
    <add key="playerUrl" value="https://www.espn.com/nba/player/gamelog/_/id/{id}" />
    <add key="gamesHistoryLength" value="5" />
    <add key="updateExistPlayer" value="true" />
    <add key="updateSpecificPlayers" value="false" />
    <add key="specificPlayersIds" value="2991280" />
    <add key="updateRosterPlayers" value="true" />
    <add key="rosterPlayersIds" value="3136195,2779,3136776,6609,6589,4592402,3593,3134908,4277919,3102529,2528210,2530530,4432165" />
  </appSettings>
</configuration>