<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="YahooLeague" value="https://basketball.fantasysports.yahoo.com/nba/5867/standings?opt_out=1" />
		<add key="yahooTeamsUrl" value="https://basketball.fantasysports.yahoo.com/nba/5867/{teamId}" />
		<add key="playerUrl" value="https://www.espn.com/nba/player/gamelog/_/id/{id}" />
		
		<add key="runInParallel" value="true" />
		<add key="gamesHistoryLength" value="5" />
		<add key="updateExistPlayer" value="true" />
		<add key="updateSpecificPlayers" value="false" />
		<add key="specificPlayersIds" value="2991280" />
		<add key="numOfTeams" value="12" />
		<add key="updateRostersPlayers" value="true" />
	</appSettings>
</configuration>