<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="runInParallel" value="true" />
    <add key="playerUrl" value="https://www.espn.com/nba/player/gamelog/_/id/{id}" />
    <add key="gamesHistoryLength" value="5" />
    <add key="updateExistPlayer" value="true" />
    <add key="updateSpecificPlayers" value="false" />
    <add key="specificPlayersIds" value="3986" />
  </appSettings>
</configuration>